<div class="center">
  <h1>Manage contacts</h1>
</div>

<div class="left_column">
 <h1>All Contacts<h1>
    <% $rolodex.contacts.each do |contact| %>
    <li>
      <%= contact.first_name %> <%= contact.last_name %> <%= contact.email %> <%= contact.note %>
    </li>
   <% end %>
</div>

<div class="right_column">
  <ul>
   <li>
    <a href="/contacts/new">Add a new contact</a>
   </li>
  </ul>
</div>
