<div class="center">
  <button class="add_contact">
    <p>
      <a href="/contacts/new">Add a new contact</a>
    </p>
  </button>

  <div class="all_contacts_div">
   <h1>All Contacts<h1>
      <% @contacts.each do |contact| %>
      <a href="/contacts/<%= contact.id %>">
        <li>
          <%= contact.first_name %> <%= contact.last_name %>
        </li>
      </a>
     <% end %>
  </div>
</div>
