<div class="center">
  <h1>Welcome to <%= @crm_app_name %> </h1>
</div>


<div class="center">
  <p><a href="/contacts">View all contacts</a></p>
  <p><a href="/contacts/new">Add a contact</a></p>
</div>


