<div class="center">
  <h1>Welcome to <%= @crm_app_name %> </h1>
</div>


<div class="center">
  <button class="choice">
   <p><a href="/contacts">View all contacts</a></p>
  </button>

  <button class="choice">
    <p><a href="/contacts/new">Add a contact</a></p>
  </button>
</div>


