<div class="center">
  <h1>Welcome to <%= @crm_app_name %> </h1>
</div>

<div class="left_column">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus tenetur enim voluptate commodi? Sunt non, aliquam porro similique adipisci maxime officiis alias corrupti minima pariatur aspernatur tenetur fuga tempora libero.
  </p>
</div>

<div class="right_column">
  <ul>
    <li><a href="/contacts">View all contacts</a></li>
      <!--please complete me with links to other actions-->
  </ul>
</div>


