<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Web CRM</title>
</head>
<body>

  <header>
    This is the Header of my CRM App
  </header>

  <h1>
    Greatest CRM Web App Ever Created
  </h1>

  <%= yield %>

  <footer>
    Alex Ignat Master Web Dev &copy;
  </footer>


</body>
</html>