<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>CRM Web App</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>
  <body>
    <header>
      <h2>
        The Greatest CRM Web App Ever
      </h2>

      <a href="/index">
        <p>
          Home
        </p>
      </a>

      <a href="/contacts">
        <p>
          Manage Contacts
        </p>
      </a>
    </header>

    <%= yield %>

    <footer>
      Alex Ignat Master Web Dev &copy;
    </footer>
  </body>
</html>