<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>CRM Web App</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>
  <body>
    <header>
      <h2>
        The Greatest CRM Web App Ever
      </h2>

      <div class="home_link">
        <a href="/">
          <p>
            Home
          </p>
        </a>
      </div>

      <div class="contacts_link">
        <a href="/contacts">
          <p>
            Manage Contacts
          </p>
        </a>
      </div>
    </header>

    <%= yield %>

    <footer>
      Alex Ignat Master Web Dev &copy;
    </footer>
  </body>
</html>